<div ng-controller="carrelloController" class="container text-center gradient">
    <div class="row">
        <div class="col-sm-12 clearfix top-buffer">
            <h3 class="title section">Carrello</h3>
            <!--<p>in questa area puoi verificare i tuoi ordini, visualizzare e modificare i tuoi preferiti.</p>-->
        </div>
    </div>

    <div class="tab-content clearfix gradient">
        <div class="row bag-list">
            <div class="col-sm-12">
                <div class="col-sm-8 no-padding">
                    <div ng-repeat="conf in listaPreferiti" class="col-sm-12 bag-item clearfix">
                        <div class="col-sm-3">
                            <img src="images/borsa-dummy-conf.png" class="bag-sample">
                    
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="bag">10/10/17 - Configurazione #1 - 340&euro;</h4>
                                </div>
                                <div class="col-sm-6 base">
                                    <h5 class="section-small left">Base </h5>
                                    <table>
                                        <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'base'">
                    
                                            <td style="width: 40%;" class="hidden-sm"><span>{{base['nome']}}:</span></td>
                                            <td>{{base['descrizione']}}</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                                <div class="col-sm-6 accessori">
                                    <h5 class="section-small left">Accessori</h5>
                                    <table>
                                        <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'accessori'">
                                            <td style="width: 40%;">{{base['nome']}}:</td>
                                            <td>{{base['descrizione']}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <!--<div class="col-sm-6 action">
                                    <div class="order-buttons">
                                        <a href="#" class="btn btn-default btn-lg btn-block ">modifica il modello</a>
                                        <p class="text-center">oppure</p>
                                        <a href="#" class="btn btn-action btn-lg btn-block ">aggiungi al carrello</a>
                                        
                                        <paypal-content info=conf></paypal-content>
                                    </div>
                    
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bag-item clearfix">
                    <div class="col-sm-12 action">
                        <div class="order-state active one just-done summary">
                            <p>
                                <span><strong>Subtotale</strong></span>
                                <span><strong>640&euro;</strong></span>
                            </p>

                            <p>
                                <span>spedizione</span>
                                <span>0&euro;</span>
                            </p>

                        </div>

                        <!--<div class="order-state active two just-done">In lavorazione</div>-->
                        <div class="order-state active three current summary">
                            <p style="margin:0">
                                <span>
                                    TOTALE
                                </span>
                                <span>
                                    0&euro;
                                </span>
                            </p>
                        </div>
                        <div class="order-buttons" style="margin-top: 20px;">
                            <a href="#" class="btn btn-action btn-lg btn-block" ng-click="setCheckout()" style="width:auto;"> Procedi al
                                checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>