<!DOCTYPE html>
<html>

<head>
    <title>Configuratore Borse</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:description" content="Configuratore Borse.">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<!--     <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/swiper.css"> -->
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/jquery.mCustomScrollbar.css">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/pinchzoomer.css">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/custom.css">
    <!--[if lt IE 9]><script src="javascripts/html5shiv.js"></script><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body ng-app="applicationModule" class="ng-scope">
	<div ng-controller="componentsController">
		<div ng-if="!isConfigurator">
            <div class="main-header-content">
                <nav class="navbar main-navbar navbar-default nomargin" role="navigation">
                    <div class="container">
						<a class="logo-small hidden-lg hidden-md hidden-sm text-hide" href="#">AnnaCloud</a>
		                <div class="navbar-header navbar-right">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </button>
		                    <ul class="nav navbar-nav fixed-navbar-right">
		                        <li>
		                            <a href="#" id="user-menu" data-toggle="dropdown"><i class="unaicon-login"></i> <span class="hidden-xs">accedi {{user.username}}</span></a>
		                            <ul class="dropdown-menu" aria-labelledby="user-menu">
		                                <!--<li><a ng-click="setAccesso()" >Profilo</a></li>-->
		                                <li><a href="#" >Profilo</a></li>
		                                <!--<li><a href="#" ng-click="logOut()">Esci</a></li>-->
		                                <li><a href="#">Esci</a></li>
		                            </ul>
		                        </li>
		                        <li>
		                            <a ng-click="setPreferiti()"><i class="unaicon-favourite"></i> <span class="hidden-xs">(1)</span></a>
	                           </li>
		                        <li>
		                            <a ng-click="setOrdini()"><i class="unaicon-cart"></i> <span class="hidden-xs">(2)</span></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
		                    <ul class="nav navbar-nav navbar-left">
		                       
		                        <li>
									<p class="navbar-text">Benvenuto, <strong>accedi al tuo profilo</strong> o <strong>crea il tuo account</strong></p>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </nav>
		    </div>
		    <nav class="navbar navbar-default nomargin main-site-navbar">
		        <div class="container">
		            <div class="collapse navbar-collapse navbar-ex1-collapse">
						<div class="hidden-xs main-navbar">
							<div class="col-sm-4">
								<ul class="nav navbar-nav navbar-nav-flex">
									<li>
										<a href="#" class="primary" data-toggle="dropdown">Crea</a>
										<ul class="dropdown-menu dropdown-menu-centered" aria-labelledby="user-menu">
											<li><a href="#" class="secondary">Come funziona</a></li>
											<li><a href="#" class="secondary" ng-click="setConfigurator()">Configura</a></li>
										</ul>
									</li>
									<li>
										<a href="#" class="primary" data-toggle="dropdown">Atelier</a>
										<ul class="dropdown-menu dropdown-menu-centered" aria-labelledby="user-menu">
											<li><a href="#" class="secondary">Shop</a></li>
											<li><a href="#" class="secondary">Collezione</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="nav navbar-nav navbar-nav-flex">
									<li>
										<a href="#" class="logo-big hidden-xs text-hide active link primary" ng-click="setHome()">AnnaCloud</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="nav navbar-nav navbar-nav-flex">
									<li>
										<a href="#" class="primary" data-toggle="dropdown">Scopri</a>
										<ul class="dropdown-menu dropdown-menu-centered" aria-labelledby="user-menu">
											<li><a href="#" class="secondary" ng-click="setVisione()">Visione</a></li>
											<li><a href="#" class="secondary" ng-click="setEsperienza()">Esperienza</a></li>
										</ul>
									</li>
									<li>
										<a href="#" class="primary" data-toggle="dropdown">Chi siamo</a>
										<ul class="dropdown-menu dropdown-menu-centered" aria-labelledby="user-menu">
											<li><a href="#" class="secondary" ng-click="setContatti()">Team</a></li>
											<li><a href="#" class="secondary" ng-click="setContatti()">Contatti</a></li>
											<!--<li><a href="#">Carriera</a></li>-->
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<ul class="nav navbar-nav visible-xs-block">
							<li>
								<a href="#" data-toggle="dropdown" class="">Crea</a>
								<ul class="dropdown-menu" aria-labelledby="user-menu">
									<li><a href="#" ng-click="setAccesso()">Come funziona</a></li>
									<li><a href="#" ng-click="setConfigurator()">Configura</a></li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="dropdown" class="">Atelier</a>
								<ul class="dropdown-menu " aria-labelledby="user-menu">
									<li><a href="#">Shop</a></li>
									<li><a href="#">Collezione</a></li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="dropdown" class="">Scopri</a>
								<ul class="dropdown-menu " aria-labelledby="user-menu">
									<li><a ng-click="setVisione()">Visione</a></li>
									<li><a ng-click="setEsperienza()">Esperienza</a></li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="dropdown" class="">Stores</a>

								<ul class="dropdown-menu " aria-labelledby="user-menu">
									<li><a href="#">Team</a></li>
									<li><a href="#">Contatti</a></li>
									<li><a href="#">Carriera</a></li>
								</ul>
							</li>
						</ul>
		            </div>
		        </div>
		    </nav>
	    </div>
	    <div><!-- contenitore principale -->

		    <home-content ng-if="isHome"></home-content>
		    <configura-content ng-if="isConfigurator"></configura-content>
		    <visione-content ng-if="isVisione"></visione-content>
		    <esperienza-content ng-if="isEsperienza"></esperienza-content>
		    <contatti-content ng-if="isContatti"></contatti-content>
		    <stores-content ng-if="isStores"></stores-content>
			<accesso-content ng-if="isAccesso"></accesso-content>
			<preferiti-content ng-if="isPreferiti" ></preferiti-content>
			<ordini-content ng-if="isOrdini"></ordini-content>
	    </div>

	    <footer class="" ng-if="!isConfigurator">
	        <div class="footer-navbar-container">
	            <div class="container">
					<div class="col-sm-3">
						 <a class="logo-footer text-hide" href="#">Unaduna</a>
						<p>
							Via S. Carlo 2707/2709 47522,<br>
							San Carlo dI Cesena (FC) Italia<br>
							Tel. +39 0547 373077<br>
							Fax +39 0547 373363<br>
							P.IVA 03487580403
						</p>
					</div>
					<div class="col-sm-3">
						<h3>Crea</h3>
						<ul>
							<li>
								<a href="#" class="" ng-click="setHome()">Come funziona</a>
							</li>
							<li>
								<a href="#" class="" ng-click="setConfigurator()">Configura</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Atelier</h3>
						<ul>
							<li>
								<a href="#" class="" ng-click="setHome()">Shop</a>
							</li>
							<li>
								<a href="#" class="" ng-click="setConfigurator()">Collezione</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Scopri</h3>
						<ul>
							<li>
								<a href="#" class="" ng-click="setVisione()">Visione</a>
							</li>
							<li>
								<a href="#" class="" ng-click="setEsperienza()">Esperienza</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Chi siamo</h3>
						<ul>
							<li>
								<a href="#" class="" ng-click="setHome()">Team</a>
							</li>
							<li>
								<a href="#" class="" ng-click="setConfigurator()">Contatti</a>
							</li>
							<li>
								<a href="#" class="" ng-click="setContatti()">Carriera</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>Seguici su:</h3>
						<p class="social">
							<a href="#"><i class="unaicon-facebook"></i></a>&nbsp;
							<a href="#"><i class="unaicon-twitter"></i></a>&nbsp;
							<a href="#"><i class="unaicon-instagram"></i></a>
						</p>
					</div>
	                
	            </div>
	        </div>
			<div class="copyright">
				<div class="container">
					Copyright &reg; 2018 ANNACLOUD
				</div>
			</div>
	    </footer>
    </div>

    <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- paypal  -->
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

	<!--BLOCCO IMPORT FILE APPLICAZIONE ANGULAR  -->
    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/angular/angular-route.min.js"></script>
	<script src="javascripts/angular/angular-animate.min.js"></script>
	<script src="javascripts/angular/angular-aria.min.js"></script>
	<script src="javascripts/angular/angular-messages.min.js"></script>

    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/controllers/componentsController.js"></script>
    <script src="javascripts/app/services/ListeService.js"></script>
    <script src="javascripts/app/services/utilFunctionMessageCreator.js"></script>
    <script src="javascripts/app/services/StackService.js"></script>

    <script src="javascripts/app/loginApp/app.js"></script>
    <script src="javascripts/app/loginApp/constants/constants.js"></script>
	<!-- <script src="javascripts/app/loginApp/constants/rolesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/statesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/responseCodesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/loginUrlConstants.js"></script> -->
	<script src="javascripts/app/loginApp/services/loginService.js"></script>
	<!-- <script src="javascripts/app/loginApp/services/sessionService.js"></script>
	<script src="javascripts/app/loginApp/services/loginMessagesCreator.js"></script>
	<script src="javascripts/app/loginApp/controller/applicationController.js"></script>-->
	<script src="javascripts/app/loginApp/services/salvaUtenteService.js"></script>
	<script src="javascripts/app/loginApp/services/getOrdiniService.js"></script>
	<script src="javascripts/app/loginApp/services/getConfigurazioniService.js"></script>
	<script src="javascripts/app/loginApp/services/putOrdineService.js"></script>
	<script src="javascripts/app/loginApp/services/putConfigurazioneService.js"></script>
	<script src="javascripts/app/loginApp/services/deleteOrdineService.js"></script>
	<script src="javascripts/app/loginApp/services/deleteConfigurazioneService.js"></script>
	<script src="javascripts/app/loginApp/controller/accessoController.js"></script> 
	<script src="javascripts/app/loginApp/controller/preferitiController.js"></script>
	<script src="javascripts/app/loginApp/controller/ordiniController.js"></script>
	
	<script src="javascripts/app/loginApp/controller/paypalController.js"></script>

	<script src="javascripts/app/configuratorApp/app.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/configuratorController.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/bagsConfiguratorController.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/rootController.js"></script>
	<!--FINE BLOCCO IMPORT FILE APPLICAZIONE ANGULAR  -->
	
	<script src="javascripts/app/common/aws-sdk.min.js"></script>
	<script src="javascripts/app/common/amazon-cognito.min.js"></script>
	<script src="javascripts/app/common/amazon-cognito-identity.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- <script src='https://unpkg.com/spritespin@4.0.1/release/spritespin.js' type='text/javascript'></script> -->
    <script src="javascripts/spritespin.js"></script>
<!--     <script src="javascripts/swiper.min.js"></script> -->
<!--     <script src="javascripts/swiper.jquery.min.js"></script> -->
    <script src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascripts/custom.js"></script>
    <script src="javascripts/mdb.js"></script>
    <script src="javascripts/mergeimages/index.umd.js"></script>
    <script src="javascripts/mergeimages/index.es2015.js"></script>
    <script src="javascripts/html2canvas/html2canvas.js"></script>
    <script src="javascripts/jquery.mousewheel.js"></script>
    <script src="javascripts/hammer.js" ></script>
    <script src="javascripts/TweenMax.js"></script>
    <script src="javascripts/jquery.pinchzoomer.js"></script>

    <link rel="stylesheet" href="node_modules/angular-ui-swiper/dist/angular-ui-swiper.css">
	<script src="node_modules/angular-ui-swiper/dist/angular-ui-swiper.js"></script>

    <style type="text/css">
        /* N.B. .clearfix per funzionare deve rimanere dichiarato nell'html */
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

	</style>
</body>

</html>
