<div ng-controller="preferitiController">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 clearfix top-buffer">
                <h3 class="title section">Preferiti</h3>
            </div>
        </div>
        <div ng-if="listaPreferiti.length == 0">
            <div class="row">
                <div class="col-sm-12 clearfix bottom-buffer wow fadeIn" data-wow-delay=".4s">
                    <p class="subtitle">Non ci hai ancora pensato, ma puoi costruire la tua borsa unica
                        nel nostro configuratore</p>
                </div>
            </div>
            <div class="row bottom-buffer">
                <section class="swipe swipe-featured wow fadeIn" data-wow-delay=".4s">
                    <swiper class="" grab-cursor="true" keyboard-control="true" slides-per-view="4" breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: &quot;2&quot; },  &quot;480&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;768&quot;: { &quot;slidesPerView&quot;: &quot;3&quot; },  &quot;992&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; },  &quot;1200&quot;: { &quot;slidesPerView&quot;: &quot;4&quot; }}">
                        <slides>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-1.jpg" /></div><span>Crossbody #1</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-2.jpg" /></div><span>Shoulderbag #2</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-3.jpg" /></div><span>Shoppingbag #3</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-4.jpg" /></div><span>Shoulderbag #4</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-1.jpg" /></div><span>Crossbody #1</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-2.jpg" /></div><span>Shoulderbag #2</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-3.jpg" /></div><span>Shoppingbag #3</span>
                                </a></slide>
                            <slide><a href="#" class="bag-box home-content">
                                    <div><img src="images/borsa-dummy-4.jpg" /></div><span>Shoulderbag #4</span>
                                </a></slide>
                        </slides>
                        <prev></prev>
                        <next></next>
                    </swiper>
                </section>
            </div>
        </div>
        <div ng-if="listaPreferiti.length != 0" class="row bag-list tab-pane fade in active" id="preferiti">
            <div ng-repeat="conf in listaPreferiti" class="col-sm-12 bag-item clearfix">
                <div class="col-sm-8 no-padding visible-xs">
                    <div class="col-sm-3">
                        <img src="/images/borsa-dummy-conf.png" class="bag-sample">
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <h5 ng-click="eliminaCar(conf)" class="remove"><i class="unaicon-remove"></i></h5>
                            <h4 class="media-heading bag">Configurazione #{{ord.configurazione.codice}}</h4>
                        </div>
                        <div class="col-sm-6 base">
                            <h5 class="section-small left">Base </h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'base'">

                                    <td><span>{{base['nome']}}:</span></td>
                                    <td>{{base['descrizione']}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6 accessori">
                            <h5 class="section-small left">Accessori</h5>
                            <table>
                                <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'accessori'">
                                    <td><span>{{base['nome']}}:</span></td>
                                    <td>{{base['descrizione']}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 hidden-xs">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/images/borsa-dummy-conf.png" class="media-object bag-sample">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="col-sm-12">
                                <h5 ng-click="eliminaCar(conf)" class="remove"><i class="unaicon-remove"></i></h5>
                                <h4 class="media-heading bag">Configurazione #{{ord.configurazione.codice}}</h4>
                            </div>
                            <div class="col-xs-6 base">
                                <h5 class="section-small left">Base </h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'base'">

                                        <td><span>{{base['nome']}}:</span></td>
                                        <td>{{base['descrizione']}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-6 accessori">
                                <h5 class="section-small left">Accessori</h5>
                                <table>
                                    <tr ng-repeat="base in conf.elencoEntita" ng-if="base.categoria == 'accessori'">
                                        <td><span>{{base['nome']}}:</span></td>
                                        <td>{{base['descrizione']}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 action">
                    <div class="order-buttons">
                        <a href="#" class="btn btn-default btn-lg btn-block ">modifica il modello</a>                    
                        <a ng-click="addCarrello(conf)" href="#" class="btn btn-lg btn-block btn-action">aggiungi al carrello</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>